<div class="page-container">

  <div class="cart">

    <% if @current_user.role == "customer" %>
      <% @title = "#{@current_user.first_name}'s cart" %>
    <% elsif @current_user.role == "clerk" %>
      <% @title = "Customer's cart" %>
    <% else %>
      <% @title = "Actions" %>
    <% end %>

    <!-- Section for cart -->
    <%= render partial: "cart-section", locals: {
                 title: @title,
                 role: @current_user.role,
                 cart: @current_user.carts.first,
               } %>
    <!-- End of cart -->
  </div>

  <div class="shops">
    <!-- Section for shops -->
    <%= render partial: "shop-section", locals: {
                 role: @current_user.role,
                 cart: @current_user.carts.first,
               } %>
    <!-- End of shops -->
  </div>

</div>
