<div class="checkout-container">
  <div class="all-or-container">

    <!-- Section for customers -->
    <%= render partial: "all-users", locals: {
                 title: "Customers",
                 people: User.customer.order("first_name"),
                 role: "customer",
               } %>
    <!-- End  -->

    <!-- Section for clerks -->
    <%= render partial: "all-users", locals: {
                 title: "Billing clerks",
                 people: User.clerk.order("first_name"),
                 role: "clerk",
               } %>
    <!-- End  -->

    <!-- Section for owners -->
    <%= render partial: "all-users", locals: {
                 title: "Owners",
                 people: User.owner.order("first_name"),
                 role: "owner",
               } %>
    <!-- End  -->

  </div>

  <div class="orders-goback">
    <%= button_to "Reverte!", shops_path, method: "get", class: "button" %>
  </div>

</div>
