.all-or-container {
  display: flex;
  justify-content: space-around;
}

.orders-goback {
  position: absolute;
  background-color: rgba(184, 184, 184, 0.9);
  margin: 10px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 8px;
  bottom: -5px;
  left: 560px;
}

.all-or {
  background-color: rgba(184, 184, 184, 0.7);
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 7px;
  margin-top: 3px;
  padding: 10px;
  width: 100%;
  position: relative;
}

.all-or-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 10px 0px 10px;
  border-bottom: 1px solid lightgray;
}

.all-orders-container {
  position: relative;
  height: 410px;
  overflow-y: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin-top: 5px;
}

.all-orders {
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
}

.order-dets-all-del > h5 {
  font-size: 18px;
  padding-bottom: 3px;
}

.confirm-order {
  margin-top: 10px;
  text-align: center;
}
